.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.card {
    margin: 0 3% !important;
}

.infected {
    border-bottom: 10px solid rgb(255, 145, 0);
}

.recovered{
    border-bottom: 10px solid rgb(26, 130, 0);
}

.deaths{
    border-bottom: 10px solid rgb(237, 0, 0);
}

@media only screen and (max-width: 1200px) {
    .card {
        margin: 2% 2% !important;
        width: 150%;
    }
}